In [11]:
!pip3 install pyodbc

Collecting pyodbc
  Using cached pyodbc-4.0.30-cp38-cp38-win32.whl (58 kB)
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30

In [22]:
import pandas as pd
import pyodbc 
from sqlalchemy import create_engine

server = 'whiskas.database.windows.net' 
database = 'dbminjusticia' 
username = 'whiskasadmin' 
password = 'Ds4All2020*' 
sql_conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)

def runQuery(sql):
    _df = pd.read_sql(sql, sql_conn)
    return _df

In [23]:
runQuery("""SELECT TOP 10 c.Name, LOG(COUNT(r.ReclusionId)) AS Reincidencias
FROM dbo.Person p
	JOIN reclusion r ON r.PersonId = p.PersonId
	JOIN dbo.Crime c ON c.CrimeId = r.CrimeId
GROUP BY c.Name
ORDER BY Reincidencias DESC
SELECT TOP 10 c.Name, LOG(COUNT(r.ReclusionId)) AS Reincidencias
FROM dbo.Person p
	JOIN reclusion r ON r.PersonId = p.PersonId
	JOIN dbo.Crime c ON c.CrimeId = r.CrimeId
GROUP BY c.Name
ORDER BY Reincidencias DESC
""")

                                                Name  Reincidencias
0                                              HURTO      10.880779
1     TRAFICO FABRICACION O PORTE DE ESTUPEFACIENTES      10.082596
2  FABRICACION TRAFICO Y PORTE DE ARMAS DE FUEGO ...       9.730086
3                           CONCIERTO PARA DELINQUIR       9.196647
4                                          HOMICIDIO       9.093469
5                                          EXTORSION       7.948738
6  FABRICACIÓN, TRÁFICO, PORTE O TENENCIA DE ARMA...       7.709308
7                            VIOLENCIA INTRAFAMILIAR       7.682022
8                                LESIONES PERSONALES       7.652071
9  FABRICACION  TRAFICO Y PORTE DE ARMAS Y MUNICI...       7.494430